<!DOCTYPE html>
<html ng-app="GameApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <link type="text/css" rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/theme-medium.css" />
        <title>Game Collector</title>
    </head>
    <body ng-app="GameApp" ng-controller="GameController" lateral-slide-menu-controller>
        <ng-include src="'views/lateral-menu.html'"></ng-include>

        <div class="app lateral-slide-menu-main-page" id="game-controller">
            <div class="success message" id="success-message">Successful operation message</div>
            <div class="error message" id="error-message">Error message</div>
                        
            <div class="navbar" id="filter-menu">
               <div class="container-navbar">
                  <span class="menu"><a href="" class="toggle-menu" lateral-slide-menu-toggle></a></span>
                  <input  ng-if="current_action=='list'" type="text" name="search-games" class="search" placeholder="Busca" ng-model="searchWord" ng-change="doSearchGames(searchWord)"/>
                  <div  ng-if="current_action=='list'" id="bt-favorite" class="bt-header bt-favorite" ng-click="doSearchByFlag('favorite');">&nbsp;</div>
                  <div  ng-if="current_action=='list'" id="bt-have" class="bt-header bt-have" ng-click="doSearchByFlag('have');">&nbsp;</div>
                  <div  ng-if="current_action=='list'" id="bt-watch" class="bt-header bt-watch" ng-click="doSearchByFlag('watch');">&nbsp;</div>
                </div>
            </div>

            <ng-include src="current_view"></ng-include>
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        
        <script type="text/javascript" src="lib/angular/angular.js"></script>
        <script type="text/javascript" src="lib/angular/angular-animate.js"></script>
        <script type="text/javascript" src="js/angular-ap-lateral-slide-menu.js"></script>
        <script type="text/javascript" src="js/md5.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/GameApp.js"></script>
        <script type="text/javascript" src="js/GameController.js"></script>
        <script type="text/javascript" src="js/TakePicture.js"></script>
    </body>
</html>
