<center>
<div class="form-container" id="form-container">

    <input type="text" id="cad_email" class="form-field" placeholder="Insira seu email" rerquired />

    <input type="password" id="cad_password" class="form-field" placeholder="Insira sua senha" required />

    <input type="password" id="cad_password_conf" class="form-field" placeholder="Confirme sua senha" required />

    <div class="form-element-container">
        <input type="button" class="form-button" ng-click="doSaveUser();" value="Cadastrar" />
    </div>
</div>
</center>