<center>
<div class="form-container">

    <input type="text" id="login_email" class="form-field" placeholder="Insira seu email" rerquired />

    <input type="password" id="login_password" class="form-field" placeholder="Insira sua senha" required />

    <input type="password" id="login_password_conf" class="form-field" placeholder="Confirme sua senha" required />

    <div class="form-element-container">
        <input type="button" class="form-button" ng-click="doSaveUser();" value="Cadastrar" />                                    
    </div>
    <div class="form-element-container">
        <!--//
        <a id="btn-register" class="mini-link" href="cadastro.html">Cadastre-se</a>
        //-->
    </div>
</div>
</center>