<!-- MENU -->
<lateral-slide-menu ng-cloak>
  <ul>
    <li ng-show="user_id != null"><a href="#" ng-click="actionProfile();" class="selected">Perfil</a></li>    

    <li ng-show="user_id != null"><a href="#" ng-click="doSearchByFlag('have');" class="selected" class="selected" class="selected" class="selected" class="selected">Meus Jogos</a></li>
    

    <li ng-show="user_id != null"><a href="#" ng-click="doSearchByFlag('watch');" class="selected" class="selected" class="selected" class="selected">Procurados</a></li>
    

    <li ng-show="user_id != null"><a href="#" ng-click="doSearchByFlag('favorite');" class="selected" class="selected" class="selected">Favoritos</a></li>    
	

    <li ng-show="user_id == null"><a href="#" ng-click="showSaveUser();" class="selected" class="selected">Cadastro</a></li>
    

    <li ng-show="user_id == null"><a href="#" ng-click="actionLogin();" class="selected">Login</a></li>
    

    <!--// <li><a href="#" class="selected">Feedback</a></li> //-->
    

    <li ng-show="user_id != null" class="selected"><a class="selected" href="#" ng-click="doLogout();">Sair</a></li>
    
    <!--//
    <li>{{ current_action }}</li>
    //-->
    
  </ul>
</lateral-slide-menu>
<!-- MENU -->