<center>
<div class="form-container">
	<h2>Bem vindo</h2>

    <input type="text" id="login_email" class="form-field" placeholder="Insira seu email" value="xandee1977@gmail.com" rerquired />

    <input type="password" id="login_password" class="form-field" placeholder="Insira sua senha" value="123456" required />

    <div class="form-element-container">
        <input type="button" class="form-button" ng-click="doLogin();" value="Entrar" />                                    
    </div>
    <div class="form-element-container">
        <a id="btn-register" class="mini-link" href="" ng-click="showSaveUser();">Cadastre-se</a>
    </div>
</div>
</center>