<center>
<div class="form-container" id="form-container">
    <a href="javascript:capturePhoto();"><img src="img/camera.gif" width="64" height="64" id="smallImage"/></a>

    <input type="hidden" id="profile_id" value="{{ profile_data.profile_id }}" rerquired />

    <input type="text" id="nickname" class="form-field" placeholder="Qual seu apelido?" value="{{ profile_data.nickname }}" rerquired />

    <select name="state_id" id="state_id"  class="form-select">
        <option value="23">Rio Grande do Sul</option>
    </select>

    <input type="hidden" name="city_id" id="city_id" value="{{ profile_data.city_id }}" />        

    <input type="text" id="city" class="form-field" placeholder="Qual sua cidade?" value="{{ profile_data.city_name }}" required />

    <textarea name="about_me" id="about_me" class="text-field" placeholder="Como você é?">{{ profile_data.resume }}</textarea>

    <div class="form-element-container">
        <input type="button" class="form-button" ng-click="doSaveProfile();" value="Salvar" />                                    
    </div>
</div>
</center>