body {    
    margin: 0;
    padding: 0;
}

* {
  font-family: "Arial, Helvetica, sans-serif";
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
  font-size: 25px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
  display:block;
}

div#navbar {
  background-color: #68C8C7;
  color:#FFF;
  width:100%;
  display:block;
  position:fixed;
  top: 0px;
  z-index: 10000;
}

div.nav-item {  
  float: left;
  text-align: center;    
}

div#nav-left { width: 20%; }
div#nav-center { width: 60%; }
div#nav-right { width: 20%; }


div#game-controller {
  position: absolute;
}

ul#game-list {
  margin-top: 50px;
}

.card{
  background-color: #F6F6F6 ;
  width: 100%;
  /* margin: 0 auto; */
  border: 1px solid lightgray;
  
}

.card-title{
  margin: 0;
  font-size: 20px;
}

.card-img{
  float: left;
  height: 80px;
  margin: 10px;
  border: 1px solid black;
}

.card-classification{
  color: gray;
}

.wrapper{
  background-color:  #F6F6F6 ;
  padding: 20px;
  box-sizing: border-box;
}

.toolbar-bottom{
  background-color: white;
  width: 100%;
  border-top: 1px solid lightgray;
  height: 40px;
  box-sizing: border-box;
}


.card-icon{
  width: 33.33%;
  color: lightgray;
  display: inline-block;
  height: 100%;
}

.card-icon img{
  height: 30px;
}

div.form-container {
  width: 90%;
  padding: 5px;
  display: block;
  margin-top: 10px;
  text-align: center;
  margin-top: 65px;
  position:relative;
}

input.form-field, select.form-select, textarea.text-field{
  float: left;
  width:99%;
  text-align:center;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-top: 5px;
  margin-bottom: 10px;
}

input.form-button {  
  padding: 15px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-style: none;
  border-radius: 6px;
  width:99%;
  color: #333;
  background-color: #68C8C7;
  color: #ffffff;
  border-color: #ccc;
  text-transform: uppercase;
}


.success, .error {
  text-align:center;
  border: 1px solid;
  margin: 0px 0px;
  padding:7px 7px 7px 50px;
  display: none;
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
}

a#btn-register {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding:5px;
  color: #000;

}


#filter-menu {
  text-align: center;
  padding: 7px;
}

input#search-games {
  width:90%;
  padding: 5px;
  line-height: 20px;
  font-size:20px;
}

#filter-menu ul {
  padding:0px;
  margin:0px;
  background-color:#68C8C7;
  list-style:none;
  width: 100%;
}

#filter-menu ul li { display: inline; }

#filter-menu ul li a {
  padding: 7px 10px;
  display: inline-block;
 
  /* visual do link */
  background-color:#68C8C7;
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

#filter-menu {
  display: block;
  background-color: #68C8C7;
  position:fixed;
  width:100%;
}

#filter-menu ul li a * {
  float: left;
}

#filter-menu ul li a div {
  width:30px;
  height:30px;
  margin-right: 8px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;    
}

#filter-menu ul li#filter-favorite a div {
    background-image: url('../img/favorite-icon-color-30.png');
}

#filter-menu ul li#filter-have a div {
    background-image: url('../img/have-icon-color-30.png');
}

#filter-menu ul li#filter-watch a div {
    background-image: url('../img/watch-icon-color-30.png');
}

#filter-menu ul li#filter-general a div {
    background-image: url('../img/general-icon.png');    
}


.navbar{
  width: 100%;
  height: 50px;
  box-shadow: 0px 1px 4px -2px black;
  padding-left: 2%;
}

.container-navbar{
  width: 95%;
  box-sizing: border-box;
  background-color: #68C8C7;
  height: 100%;
  padding: 0 10px 0 10px;
}

.search{
  height: 40px;
  width: 44%;
  border: none;
  border-bottom: 1px solid lightgray;
  box-sizing:border-box;
  font-size: 18px;
  margin-left: 10px;
  background-color: #FFF;
  border-radius: 15px;
  text-align: center;
}

.bt-have,.bt-watch,.bt-favorite,
.bt-have-enabled,.bt-watch-enabled,.bt-favorite-enabled{
  height: 100%;
  box-sizing: border-box;
  float: right;
  width: 40px;
  display: inline-block;
  color: white;  
  background-repeat: no-repeat;
  background-position: center;
}

.bt-have {background-image: url('../img/have-icon-disabled.png');}
.bt-have-enabled {background-image: url('../img/have-icon-enabled.png');}

.bt-watch {background-image: url('../img/watch-icon-disabled.png');}
.bt-watch-enabled {background-image: url('../img/watch-icon-enabled.png');}

.bt-favorite {background-image: url('../img/favorite-icon-disabled.png');}
.bt-favorite-enabled {background-image: url('../img/favorite-icon-enabled.png');}

.menu {
  display: block;
  width: 25px;
  height: 20px;
  margin-top:10px;
  background-image: url('../img/icon-burger.png');
  float: left;
}
