<div class="wrapper">
    <!--// <img class="card-img" src="http://beecoapp.com/ws-game/images/{{item.game_id}}.jpg"/> //-->
    <img class="card-img" src="http://beecoapp.com/ws-game/images/no-picture.png"/>

    <h2 class="card-title">{{item.game_title}}</h2>
    <span class="card-classification">{{item.game_type}}</span>
    <p class="card-description">{{item.game_desc}}</p>
</div>
<div class="toolbar-bottom">
  <button class="card-icon"><img src="http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/256/eye-icon.png"/></span>
  <button class="card-icon"><img src="https://cdn0.iconfinder.com/data/icons/seo-smart-pack/128/grey_new_seo2-10-512.png"/></span>
  <button class="card-icon"><img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/outline_star.png"/></span>
</div>
