<div class="wrapper">
    <!--// <img class="card-img" src="http://beecoapp.com/ws-game/images/{{item.game_id}}.jpg"/> //-->
    <img class="card-img" src="http://beecoapp.com/ws-game/image.php?game_id={{item.game_id}}"/>

    <h2 class="card-title">{{item.game_title}}</h2>
    <span class="card-classification">{{item.game_type}}</span>
    <p class="card-description">{{item.game_desc}}</p>
</div>
<div class="toolbar-bottom">
  <button class="card-icon" ng-click='doWatch(item.game_id);'>
    <img id="watch-{{item.game_id}}-icon" src="img/watch-icon-color.png" ng-if="item.flags.watch=='Y'" />
    <img id="watch-{{item.game_id}}-icon" src="img/watch-icon.png" ng-if="item.flags.watch!='Y'" />
 </span>
  <button class="card-icon" ng-click='doHave(item.game_id);'>
    <img id="have-{{item.game_id}}-icon" src="img/have-icon-color.png" ng-if="item.flags.have=='Y'" />
    <img id="have-{{item.game_id}}-icon" src="img/have-icon.png" ng-if="item.flags.have!='Y'" />
  </span>
  
  <button class="card-icon" ng-click='doFavorite(item.game_id);'>
    <img id="favorite-{{item.game_id}}-icon" src="img/favorite-icon-color.png" ng-if="item.flags.favorite=='Y'" />
    <img id="favorite-{{item.game_id}}-icon" src="img/favorite-icon.png" ng-if="item.flags.favorite!='Y'" />
  </span>
</div>
