<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gamecollector" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hadougame</name>
    <description>
        Organize sua coleção de jogos de Super Nintendo de maneira fácil e rápida.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Hadougame Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="img/hadougame-logo.png" width="72" height="72" />
    <icon src="img/hadougame-logo.png" width="48" height="48" />
    <icon src="img/hadougame-logo.png" width="36" height="36" />    
</widget>
